/Debug
/Release
/EnergySaver/Debug
/EnergySaver/Release
/EnergySaverCtrl/Debug
/EnergySaverCtrl/Release
/EnergySaverService/Debug
/EnergySaverService/Release
/MSISetup/Debug
/MSISetup/Release
/.vs
/EnergySaver/EnergySaver.vcxproj.user
/EnergySaver/EnergySaver.aps
